@model Endpoint.View.Controllers.ViewingModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div style="background-color: @Model.Status">
            @Model.Status  
        </div>
    </body>
</html>